<div class="col-lg-8 col-lg-offset-2">
    <div class="alert alert-danger" style="margin-top: 80px; margin-bottom: 100px;">
        <h2 class="text-center">Error - {{message}}</h2>
    </div>
    <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="{{app_context}}/app" class="btn btn-success">Take me home</a>
    </div>
</div>