<h2 class="text-center banner-heading">Server monitoring (auto refresh)</h2>
{{#if message}}<h3 class="text-danger text-center">{{message}}</h3>{{/if}}
<div class="row">
    <div class="col-lg-12">
        <div id="chartsMessage" class="col-lg-8 col-lg-offset-2 hidden text-center"></div>
        <div id="chartsWrapper" class="col-lg-12 hidden">
            <div class="col-xs-12 col-lg-10 col-lg-offset-1">
                <div class="col-lg-6"><strong class="text-success">Process PID:</strong> <span id="monitorPid"></span></div>
                <div class="col-lg-6"><strong class="text-success">Process Version:</strong> <span id="monitorVersion"></span></div>
                <div class="col-lg-6"><strong class="text-success">Process Uptime:</strong> <span id="monitorUptime"></span></div>
            </div>
            <div class="col-xs-12 col-lg-10 col-lg-offset-1">
                <h3 class="text-center">Memory usage (MB's)</h3>
                <canvas id="memoryChart" height="200"></canvas>
            </div>
            <div class="col-xs-12 col-lg-10 col-lg-offset-1">
                <h3 class="text-center">Connections</h3>
                <canvas id="connectionsChart" height="200"></canvas>
            </div>
            <div class="col-xs-12 col-lg-10 col-lg-offset-1">
                <h3 class="text-center">Active Clients</h3>
                <canvas id="clientsChart" height="200"></canvas>
            </div>
            <div class="col-xs-12 col-lg-10 col-lg-offset-1">
                <h3 class="text-center">Document counts</h3>
                <canvas id="docsChart" height="200"></canvas>
            </div>
        </div>
    </div>
</div>